@font-face {
  font-family: 'pixelar';
  src: url('./fonts/pixelar_regular-webfont.woff2'), url('./fonts/pixelar_regular-webfont.woff');
}

html {
  background-color: #282c34;
  color: white;
}

nav {
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}



.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.6em;
  padding: 8px 12px;
  color: #fff;
  font-family: 'pixelar', courier, mono space, sans-serif;
  background-color: #222;
  border: 2px solid blue;

}

h1 {
  font-family: 'pixelar', mono space, sans-serif;
}

.file-directory {
  border: 4px solid #222222;
  padding: 5px 5px 40px 5px;
  font-family: 'pixelar', mono space, sans-serif;
  font-size: 1.5em;
  /*background-color: #282c34;*/
  background-color: #222222;
  color: #ffffbb;
}

.file-directory ul {
  list-style: none;
}
.file-directory li {
  padding-left: 10px;
  padding-right: 10px;
  border: 4px solid transparent;
}
.file-directory li:hover,
.file-directory li.current:hover{
  /*background-color: #222222;*/
  /*color: #eeeeee;*/
  border: 4px solid #61fb61;
}
.file-directory li.current {
  background-color: #eeeeee;
  color: #222222;
  border: 4px solid #61dafb;
}
.file-directory li img {
  margin: 4px 10px 0 0;
}


/*** Some page style elements come from https://mooncatrescue.com/ ***/

button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.5em;
  font-family: screen1;
  border: none;
  color: #ffffff;
  background-color: #777777;
  box-shadow: 8px 8px 0px 0px #444444;
  cursor: pointer;
  outline: none;
}

button:hover{
  position: relative;
  top: 3px;
  left: 3px;
  box-shadow: 5px 5px 0px 0px #444444;
}

button:active{
  position: relative;
  top: 6px;
  left: 6px;
  box-shadow: 2px 2px 0px 0px #444444;
}


button.ok{
  background-color: green;
}

button.cancel{
  background-color: red;
}

button.nav{
  background-color: blue;
}

button.select{
  background-color: orange;
}
